doctype 5
html
  head
    title= "www-cmd"
    link(rel='stylesheet', href='/bootstrap.css')
    link(rel='stylesheet', href='/style.css')
    script(src='/jquery.min.js')
    script(src='/www-cmd.js')

  body
    .wrap
      .well
        each button in commands
          button.btn.btn-large.btn-block(data-command-id=button.id)= button.text

      .stdout
        pre
