mixin ctrl(control)
  - if (control.type === 'button')
    button.btn.btn-large.btn-block(data-command-id=control._id)= control.text
  - else if (control.type === 'checkbox')
    label.checkbox
      input(type='checkbox', name=control.opt)
      | &nbsp;#{control.label}

doctype 5
html
  head
    title= "www-cmd"
    link(rel='stylesheet', href='/bootstrap.css')
    link(rel='stylesheet', href='/style.css')
    script(src='/underscore-min.js')
    script(src='/jquery.min.js')
    script(src='/www-cmd.js')

  body
    .wrap
      .well
        each control in controls
          - if (_.isArray(control))
            .controlbox
              each _control in control
                mixin ctrl(_control)
          - else
            mixin ctrl(control)

      .stdout
        pre
