.wrap {
  margin: 60px auto;
  max-width: 700px;
}

.stdout {
  display: none;
}

.btn {
  margin: auto;
  width: 400px;
  padding-left: 30px;
  padding-right: 30px;
}

.controlbox {
  padding: auto 5px;
  width: 400px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.controlbox:last-child {
  margin-bottom: 0px;
}

.controlbox > *:not(:last-child) {
  margin-right: 8px;
}
